html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
}

.iw_title {
    font-size: 1.3em;
}

.iw_subtitle {
    font-size: 1em;
}